.active{
    color: red
}

.button{
    padding-left: 5%;
}

.block{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 5%;  
}

.map-block{
    height: 700px;
}

h1{
    text-align: center; color: rgb(113, 20, 110); margin-top: auto; margin-bottom: auto;
}

footer{
    margin-top: auto; padding: 0%; background-color: rgb(6, 38, 65); color: rgb(163, 157, 157);
}
